services:

  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    ports:
      - 443:443
    # restart: always
    secrets:
      - server.key
    volumes:
      - wordpress:/var/www/html/
    networks:
      - frontend
    depends_on:
      - wordpress
    env_file:
      - .env

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    # restart: always
    secrets:
      - db_user_password
      - wp_admin_password
      - wp_user_password
    volumes:
      - wordpress:/var/www/html/
    networks:
      - frontend
      - backend
    depends_on:
      - mariadb
    env_file:
      - .env

  mariadb:
    container_name: mariadb 
    build: ./requirements/mariadb/
    # restart: always
    secrets:
      - db_root_password
      - db_user_password
    volumes:
      - mariadb:/var/lib/mysql/
    networks:
      - backend
    env_file:
      - .env
      
networks:
  frontend:
  backend:

volumes:
  wordpress:
    driver: local
    name: wordpress
    driver_opts:
      type: none
      o: bind
      device: ${VOLUMES_PATH}/website/
  mariadb:
    driver: local
    name: mariadb
    driver_opts:
      type: none
      o: bind
      device: ${VOLUMES_PATH}/mariadb/
    
secrets:
  server.key:
    file: ../secrets/server.key
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_user_password:
    file: ../secrets/db_user_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
